
__pycache__/
*.pyc
venv/
env/


.vscode/
.idea/
.DS_Store

*.txt


Dockerfile.jupyter
hdfs/

###########################################################
# Rules for the 'jobs' directory
###########################################################

jobs/*


!jobs/kafka-hdfs.py


!jobs/config.yaml


jobs/.ipynb_checkpoints/
jobs/.staging_*/
jobs/Trash-1000/
jobs/input/
jobs/output/